{% extends 'base.html.twig' %}

{% block title %}Détail {{ wish.title }}| {{ parent() }}{% endblock %}

{% block body %}
    <div class="card mt-2 mb-2 w-50 m-auto">
        <div class="card-body">
            <h5 class="card-title">Titre : {{ wish.title | title }}</h5>
{#            le filtre nl2br convertit les sauts de ligne du texte en balises <br>#}
            <p class="card-text">Description : {{ wish.description | nl2br }}</p>
            <p class="wish-credit">Creer par : {{ wish.author }} on {{ wish.dateCreated | date('Y-m-d')}}</p>

        </div>
    </div>

{% endblock %}